<div class="news-feed">

  <!-- //TODO substituir por diretiva -->
  <div ng-show="failLoadFeeds" class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

    <i class="glyphicon glyphicon-exclamation-sign"></i>
    Falha ao carregar atualizações.
  </div>


  <article ng-repeat="feed in feeds track by $index">

    <header>
      <i class="glyphicon glyphicon-user"></i>
      <span>
        <b>{{feed.author.name}}</b>
        <time datetime="{{feed.date}}" pubdate>{{ feed.date | date }}</time>
      </span>
    </header>

    <div>{{feed.text}}</div>

  </article>

</div>
